//Css code
$back-color1: linear-gradient(147deg, #8c54e9 0%, #4b76e7 74%);
$back-color2: linear-gradient(220deg, #3e27ed 50%, #703dd0 80%);
$color1: #703dd0;
$button-back-color: linear-gradient(100deg, #3e27ed 50%, #703dd0 80%);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins";
   letter-spacing: 0.5px;
}


.column {
   width: 100%;
   display: flex;
   flex-direction: column;
}

body {
   background: $back-color1;
   min-height: 100vh;
   width: 100%;
}

#cart-section {
   min-height: 100vh;
   display: flex;
   align-items: center;
   .container {
      max-width: 1140px;
      margin: 0 auto;
      .row {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         .cart {
            width: 310px;
            height: 550px;
            background-color: #210f4d;
            margin: 10px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            &::before {
               content: " ";
               height: 50px;
               width: 50px;
               background-image: $back-color2;
               position: absolute;
               border-radius: 100px;
            }
         }
         .cart1 {
            .top-area {
               width: 100%;
               z-index: 1;
               justify-content: space-around;
               margin-top: 25px;
               display: flex;
            }
            & p {
               font-size: 11px;
               color: white;
               font-family: poppins;
               font-weight: 200;
            }
            .start-your {
               width: 100%;
               height: 300px;
               z-index: 1;
               display: flex;
               flex-direction: column;
               justify-content: center;
               margin-top: -30px;
               & p {
                  font-size: 40px;
                  margin: -5px 0 -5px 40px;
                  font-family: "poppins semibold";
                  text-align: start;
               }
            }
            .button-area {
               justify-content: center;
               align-items: center;
               height: 240px;
               & button {
                  margin-top: 20px;
                  padding: 13px 40px;
                  border-radius: 100px;
                  font-size: 20px;
                  font-family: "poppins";
                  background: $button-back-color;
                  border: none;
                  color: white;
                  font-weight: 300;
               }
               .account-area {
                  margin-top: 5px;
                  & a {
                     color: $color1;
                     text-decoration: none;
                  }
               }
            }
         }

         .cart2 {
            .top-area {
               width: 100%;
               z-index: 1;
               justify-content: space-around;
               margin-top: 25px;
               display: flex;
            }
            & p {
               font-size: 11px;
               color: white;
               font-family: poppins;
               font-weight: 200;
            }

            .log-in-area {
               width: 100%;
               height: 400px;
               align-items: center;
               & label {
                  width: 60%;
                  margin-top: 20px;
                  color: white;
                  font-weight: 200;
                  font-size: 15px;
                  letter-spacing: 1px;
                  & input {
                     border: none;
                     background: transparent;
                     border-bottom: 2px solid white;
                     color: white;
                     font-weight: 100;
                     &:focus {
                        outline: none;
                     }
                  }
               }
            }
            & h2 {
               margin-top: 40px;
               font-size: 38px;
               font-family: "poppins";
               font-weight: 700;
               color: white;
               margin-bottom: 20px;
            }

            .button-area {
               justify-content: center;
               align-items: center;
               height: 240px;
               & button {
                  margin-top: 20px;
                  padding: 10px 45px;
                  border-radius: 100px;
                  font-size: 20px;
                  font-family: "poppins";
                  background: $button-back-color;
                  border: none;
                  color: white;
                  font-weight: 300;
               }
               .account-area {
                  margin-top: 5px;
                  & a {
                     color: $color1;
                     text-decoration: none;
                  }
               }
            }
         }

         .cart3 {
            .top-area {
               width: 100%;
               z-index: 1;
               justify-content: space-around;
               margin-top: 25px;
               display: flex;
            }
            & p {
               font-size: 11px;
               color: white;
               font-family: poppins;
               font-weight: 200;
            }

            .log-in-area {
               width: 100%;
               height: 400px;
               align-items: center;
               & label {
                  width: 60%;
                  margin-top: 20px;
                  color: white;
                  font-weight: 200;
                  font-size: 15px;
                  letter-spacing: 1px;
                  & input {
                     border: none;
                     background: transparent;
                     border-bottom: 2px solid white;
                     color: white;
                     font-weight: 100;
                     &:focus {
                        outline: none;
                     }
                  }
               }
            }
            & h2 {
               width: 100%;
               margin-top: 40px;
               font-size: 38px;
               font-family: "poppins";
               font-weight: 700;
               color: white;
               margin-bottom: 20px;
               display: flex;
               flex-direction: column;
               & span {
                  margin: -10px 0 0 60px;
               }
            }

            .button-area {
               justify-content: center;
               align-items: center;
               height: 240px;
               & button {
                  margin-top: 20px;
                  padding: 10px 45px;
                  border-radius: 100px;
                  font-size: 20px;
                  font-family: "poppins";
                  background: $button-back-color;
                  border: none;
                  color: white;
                  font-weight: 300;
               }
               .account-area {
                  margin-top: 5px;
                  & a {
                     color: $color1;
                     text-decoration: none;
                  }
               }
            }
         }

         .cart1::before {
            transform: scale(10);
            top: 60px;
         }
         .cart2 {
            transform: scale(1.1);
            margin: 0 40px;
         }
         .cart2::before {
            transform: scale(10);
            top: 110px;
         }
         .cart3::before {
            transform: scale(10);
            top: 120px;
         }
      }
   }
}

// Response Code
@media screen and (max-width: 1100px) {
   #cart-section {
      min-height: 100vh;
      & .container .row {
         flex-wrap: wrap;
         flex-direction: column;
         & .cart {
            margin: 40px 20px;
         }
         & .cart2 {
            transform: scale(1);
            &.column {
               &.top-area {
                  flex-direction: row !important;
                  flex-wrap: wrap !important;
               }
            }
         }
         & .cart3 {
            transform: scale(1);
            &.column {
               &.top-area {
                  flex-direction: row !important;
                  flex-wrap: wrap !important;
               }
            }
         }
         & .cart3 {
            &.column {
               &.top-area {
                  flex-direction: row !important;
                  flex-wrap: wrap !important;
               }
            }
         }
      }
   }
}
